/* App.css */

/* Container styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  width: 1000;
}

/* Header styling */
header {
  background-color:#062f5d;
  color: white;
  padding: 10px;
  text-align: center;
  width: 800px;
}

nav {
  margin-top: 10px;
}

nav a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

/* Home and About page styling */
h3 {
  color: black;
  font-size: large;
}

/* PostList styling (assuming it's a list of posts) */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}